

.navbar-brand{
    color: white;
  
}
.nav-link{
    color: white;
}


.page{
    color: white;
}

.work-section-title{
    display: flex;
    justify-content: center;
    text-underline-position: below;




}



.jumbo{
    background-image: url(https://img.freepik.com/free-photo/solid-concrete-wall-textured-backdrop_53876-129493.jpg);
    border-radius: 0%;
    height: 100vh;
    border-width: 0cap;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
 
}

.container-fluid{
    padding: 0%;
}

.one-input-form{
    display: flex;
    justify-content: center;
}


.portfolio-title{
}


.nav-link{
    color: white;
}



.work-section-center{
    display: flex;
    align-items: center;
    justify-content: center;
}